body {
    font-family: Helvetica;
}

.navbar {
    width: 100%;
    background-color: #F1F3FF;
}

.hero-section {
    background-color: #F1F3FF;
}

.nav-link {
    margin: 0px 19px;
}

.btn {
    background: #5CB85F;
    border-radius: 2px;
    margin-bottom: 10%;
}

.btn-sidebar {
    width: fit-content;
}

.row-hero {
    margin-bottom: 50px;
    margin-top: 50px;
}

.row-faq {
    margin-top: 10%;
}

.row-faq h1 {
    font-weight: bold;
    font-size: x-large;
}

.hero {
    padding-top: 65px;
    text-align: justify;
}

.hero h1 {
    width: auto;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
}

.hero p {
    width: auto;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.hero img {
    background-color: #F1F3FF;
    width: fit-content;
}

.service img {
    margin: auto;
}

.desc {
    margin-top: 50px;
}

.desc h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    margin-left: 3%;
    margin-right: 3%;
}

.desc p {
    padding-top: 20px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    font-size: 15px;
    margin-left: 3%;
    margin-right: 3%;

}

ul {
    list-style: none;
    line-height: 45px;
    padding: 0;
    font-size: 15px;
    margin-left: 3%;
    margin-right: 3%;

}

.col {
    padding-top: 110px;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 200px;
}

.card-img-top {
    position: absolute;
    width: 32px;
    left: 24px;
    top: 24px;
}

.card-body {
    padding-top: 20%;
}

.card-body h2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: medium;
}

.card-body p {
    font-family: Helvetica;
    font-style: normal;
    font-size: small;
}

.image-carousel {
    width: 70px !important;
    margin: 0 auto;
    margin-top: 50px;
}

.item .card {
    width: auto;
    height: auto;
    background: #F1F3FF;
    border-radius: 8px;
}

.banner {
    background-color: blue;
    border-radius: 13px;
    padding-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.banner a {
    height: 100px;
}

.banner h1 {
    font-size: xx-large;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: white;
    padding-top: 50px;
}

.banner p {
    font-family: Helvetica;
    font-style: normal;
    color: #FFFFFF;
}

.banner .btn {
    align-self: center;
    background: #5CB85F;
    border-radius: 2px;
    margin-top: 30px;
    width: fit-content;
}

.faq col-6 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.accordion-item {
    margin: 16px 0px;
    border-radius: 4px;
}

.wrapper-col-2 {
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 80px;
}

.link-dark {
    text-decoration: none;
}

.wrapper-icon a {
    padding-right: 10px;
}

.wrapper-col-4 {
    margin: 0px 50px;
}

/* sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    margin-left: 5%;
    padding: 8px 8px 8px 8px;
    font-size: 15px;
    text-decoration: solid;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    top: 50px;
    right: 10%;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #F1F3FF;
    color: black;
    padding: 10px 15px;
    border: none;
}

footer p {
    font-size: medium;
}

footer a {
    font-weight: bold;
}

footer a img {
    margin-bottom: 20px;
}

/* .openbtn:hover {
    background-color: #444;
} */

#main {
    transition: margin-left .5s;
    padding: 16px;
}